In [39]:
#Reading Data
import pandas as pd
import numpy as np
df=pd.read_csv('dirtydata.csv')
df.head()

   Duration          Date  Pulse  Maxpulse  Calories Gender
0        60  '2020/12/01'    110       130     409.1      M
1        60  '2020/12/02'    117       145     479.0      F
2        60  '2020/12/03'    103       135     340.0      F
3        45  '2020/12/04'    109       175     282.4      F
4        45  '2020/12/05'    117       148     406.0    NaN

In [40]:
#Cleaning/Wrangling Data
    #1.Null(NaN) Values
    #2.Duplicates
    #3.Wrong Format of data
    #4.Wrong Data

In [41]:
#1.Null(NaN) Values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  34 non-null     float64
 5   Gender    31 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

In [42]:
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [43]:
#To Fix Null Values: Remove,Replace:random value,central tendency
print(df)
print(df.shape)

    Duration          Date  Pulse  Maxpulse  Calories Gender
0         60  '2020/12/01'    110       130     409.1      M
1         60  '2020/12/02'    117       145     479.0      F
2         60  '2020/12/03'    103       135     340.0      F
3         45  '2020/12/04'    109       175     282.4      F
4         45  '2020/12/05'    117       148     406.0    NaN
5         60  '2020/12/06'    102       127     300.0      M
6         60  '2020/12/06'    102       127     300.0      M
7        450  '2020/12/08'    104       134     253.3      M
8         30  '2020/12/09'    109       133     195.1    NaN
9         60  '2020/12/06'    102       127     300.0      M
10        60  '2020/12/10'     98       124     269.0      F
11        60  '2020/12/11'    103       147     329.3      F
12        60  '2020/12/12'    100       120     250.7      M
13        60  '2020/12/12'    100       120     250.7      F
14        60  '2020/12/13'    106       128     345.3      M
15        60  '2020/12/12'    100       120     250.7      F
16        60  '2020/12/14'    104       132     379.3      F
17        60  '2020/12/15'     98       123     275.0      F
18        60  '2020/12/16'     98       120     215.2      M
19        60  '2020/12/17'    100       120     300.0      M
20        45  '2020/12/18'     90       112       NaN      F
21        60  '2020/12/19'    103       123     323.0      F
22        45  '2020/12/20'     97       125     243.0      F
23        60  '2020/12/21'    108       131     364.2      F
24        45           NaN    100       119     282.0      M
25        60  '2020/12/23'    130       101     300.0    NaN
26        45  '2020/12/24'    105       132     246.0      M
27        60  '2020/12/25'    102       126     334.5      M
28        60      20201226    100       120     250.0      M
29        60  '2020/12/27'     92       118     241.0      F
30        60  '2020/12/28'    103       132       NaN    NaN
31        60  '2020/12/29'    100       132     280.0      M
32        60  '2020/12/30'    102       129     380.3      F
33        60  '2020/12/31'     92       115     243.0      F
34        60  '2020/12/30'    102       129     380.3      F
35        60  '2020/12/27'     92       118     241.0    NaN
(36, 6)

In [44]:
#Remove Null Values
df_with_out_Null=df.dropna()
print(df_with_out_Null)
print(df_with_out_Null.shape)

    Duration          Date  Pulse  Maxpulse  Calories Gender
0         60  '2020/12/01'    110       130     409.1      M
1         60  '2020/12/02'    117       145     479.0      F
2         60  '2020/12/03'    103       135     340.0      F
3         45  '2020/12/04'    109       175     282.4      F
5         60  '2020/12/06'    102       127     300.0      M
6         60  '2020/12/06'    102       127     300.0      M
7        450  '2020/12/08'    104       134     253.3      M
9         60  '2020/12/06'    102       127     300.0      M
10        60  '2020/12/10'     98       124     269.0      F
11        60  '2020/12/11'    103       147     329.3      F
12        60  '2020/12/12'    100       120     250.7      M
13        60  '2020/12/12'    100       120     250.7      F
14        60  '2020/12/13'    106       128     345.3      M
15        60  '2020/12/12'    100       120     250.7      F
16        60  '2020/12/14'    104       132     379.3      F
17        60  '2020/12/15'     98       123     275.0      F
18        60  '2020/12/16'     98       120     215.2      M
19        60  '2020/12/17'    100       120     300.0      M
21        60  '2020/12/19'    103       123     323.0      F
22        45  '2020/12/20'     97       125     243.0      F
23        60  '2020/12/21'    108       131     364.2      F
26        45  '2020/12/24'    105       132     246.0      M
27        60  '2020/12/25'    102       126     334.5      M
28        60      20201226    100       120     250.0      M
29        60  '2020/12/27'     92       118     241.0      F
31        60  '2020/12/29'    100       132     280.0      M
32        60  '2020/12/30'    102       129     380.3      F
33        60  '2020/12/31'     92       115     243.0      F
34        60  '2020/12/30'    102       129     380.3      F
(29, 6)

In [45]:
#Replace Null Values:Central Tendency:Mean,Mode
#Continuous--->Mean(Avg)
#Categorical--->Mode(most popular value)

In [46]:
print(df.describe())

         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   34.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   63.683819
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  291.200000
75%     60.000000  104.250000  132.000000  338.625000
max    450.000000  130.000000  175.000000  479.000000

In [47]:
print(df.describe(include='O'))

                Date Gender
count             35     31
unique            29      2
top     '2020/12/06'      F
freq               3     17

In [48]:
#Replace Null Values
df['Calories']=df['Calories'].fillna(df['Calories'].mean())
print(df)

    Duration          Date  Pulse  Maxpulse    Calories Gender
0         60  '2020/12/01'    110       130  409.100000      M
1         60  '2020/12/02'    117       145  479.000000      F
2         60  '2020/12/03'    103       135  340.000000      F
3         45  '2020/12/04'    109       175  282.400000      F
4         45  '2020/12/05'    117       148  406.000000    NaN
5         60  '2020/12/06'    102       127  300.000000      M
6         60  '2020/12/06'    102       127  300.000000      M
7        450  '2020/12/08'    104       134  253.300000      M
8         30  '2020/12/09'    109       133  195.100000    NaN
9         60  '2020/12/06'    102       127  300.000000      M
10        60  '2020/12/10'     98       124  269.000000      F
11        60  '2020/12/11'    103       147  329.300000      F
12        60  '2020/12/12'    100       120  250.700000      M
13        60  '2020/12/12'    100       120  250.700000      F
14        60  '2020/12/13'    106       128  345.300000      M
15        60  '2020/12/12'    100       120  250.700000      F
16        60  '2020/12/14'    104       132  379.300000      F
17        60  '2020/12/15'     98       123  275.000000      F
18        60  '2020/12/16'     98       120  215.200000      M
19        60  '2020/12/17'    100       120  300.000000      M
20        45  '2020/12/18'     90       112  301.129412      F
21        60  '2020/12/19'    103       123  323.000000      F
22        45  '2020/12/20'     97       125  243.000000      F
23        60  '2020/12/21'    108       131  364.200000      F
24        45           NaN    100       119  282.000000      M
25        60  '2020/12/23'    130       101  300.000000    NaN
26        45  '2020/12/24'    105       132  246.000000      M
27        60  '2020/12/25'    102       126  334.500000      M
28        60      20201226    100       120  250.000000      M
29        60  '2020/12/27'     92       118  241.000000      F
30        60  '2020/12/28'    103       132  301.129412    NaN
31        60  '2020/12/29'    100       132  280.000000      M
32        60  '2020/12/30'    102       129  380.300000      F
33        60  '2020/12/31'     92       115  243.000000      F
34        60  '2020/12/30'    102       129  380.300000      F
35        60  '2020/12/27'     92       118  241.000000    NaN

In [49]:
print(df.describe())

         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   36.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   61.837518
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  300.000000
75%     60.000000  104.250000  132.000000  335.875000
max    450.000000  130.000000  175.000000  479.000000

In [50]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])

In [51]:
print(df)

    Duration          Date  Pulse  Maxpulse    Calories Gender
0         60  '2020/12/01'    110       130  409.100000      M
1         60  '2020/12/02'    117       145  479.000000      F
2         60  '2020/12/03'    103       135  340.000000      F
3         45  '2020/12/04'    109       175  282.400000      F
4         45  '2020/12/05'    117       148  406.000000      F
5         60  '2020/12/06'    102       127  300.000000      M
6         60  '2020/12/06'    102       127  300.000000      M
7        450  '2020/12/08'    104       134  253.300000      M
8         30  '2020/12/09'    109       133  195.100000      F
9         60  '2020/12/06'    102       127  300.000000      M
10        60  '2020/12/10'     98       124  269.000000      F
11        60  '2020/12/11'    103       147  329.300000      F
12        60  '2020/12/12'    100       120  250.700000      M
13        60  '2020/12/12'    100       120  250.700000      F
14        60  '2020/12/13'    106       128  345.300000      M
15        60  '2020/12/12'    100       120  250.700000      F
16        60  '2020/12/14'    104       132  379.300000      F
17        60  '2020/12/15'     98       123  275.000000      F
18        60  '2020/12/16'     98       120  215.200000      M
19        60  '2020/12/17'    100       120  300.000000      M
20        45  '2020/12/18'     90       112  301.129412      F
21        60  '2020/12/19'    103       123  323.000000      F
22        45  '2020/12/20'     97       125  243.000000      F
23        60  '2020/12/21'    108       131  364.200000      F
24        45           NaN    100       119  282.000000      M
25        60  '2020/12/23'    130       101  300.000000      F
26        45  '2020/12/24'    105       132  246.000000      M
27        60  '2020/12/25'    102       126  334.500000      M
28        60      20201226    100       120  250.000000      M
29        60  '2020/12/27'     92       118  241.000000      F
30        60  '2020/12/28'    103       132  301.129412      F
31        60  '2020/12/29'    100       132  280.000000      M
32        60  '2020/12/30'    102       129  380.300000      F
33        60  '2020/12/31'     92       115  243.000000      F
34        60  '2020/12/30'    102       129  380.300000      F
35        60  '2020/12/27'     92       118  241.000000      F

In [52]:
df['Gender'].mode()

0    F
Name: Gender, dtype: object

In [53]:
print(df['Gender'].value_counts())

Gender
F    22
M    14
Name: count, dtype: int64

In [54]:
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

In [55]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  36 non-null     float64
 5   Gender    36 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB
None

In [56]:
df.drop(24,axis=0,inplace=True)

In [57]:
print(df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

In [58]:
#Duplicates
#Detecting Duplicates
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35     True
dtype: bool

In [59]:
print(df)

    Duration          Date  Pulse  Maxpulse    Calories Gender
0         60  '2020/12/01'    110       130  409.100000      M
1         60  '2020/12/02'    117       145  479.000000      F
2         60  '2020/12/03'    103       135  340.000000      F
3         45  '2020/12/04'    109       175  282.400000      F
4         45  '2020/12/05'    117       148  406.000000      F
5         60  '2020/12/06'    102       127  300.000000      M
6         60  '2020/12/06'    102       127  300.000000      M
7        450  '2020/12/08'    104       134  253.300000      M
8         30  '2020/12/09'    109       133  195.100000      F
9         60  '2020/12/06'    102       127  300.000000      M
10        60  '2020/12/10'     98       124  269.000000      F
11        60  '2020/12/11'    103       147  329.300000      F
12        60  '2020/12/12'    100       120  250.700000      M
13        60  '2020/12/12'    100       120  250.700000      F
14        60  '2020/12/13'    106       128  345.300000      M
15        60  '2020/12/12'    100       120  250.700000      F
16        60  '2020/12/14'    104       132  379.300000      F
17        60  '2020/12/15'     98       123  275.000000      F
18        60  '2020/12/16'     98       120  215.200000      M
19        60  '2020/12/17'    100       120  300.000000      M
20        45  '2020/12/18'     90       112  301.129412      F
21        60  '2020/12/19'    103       123  323.000000      F
22        45  '2020/12/20'     97       125  243.000000      F
23        60  '2020/12/21'    108       131  364.200000      F
25        60  '2020/12/23'    130       101  300.000000      F
26        45  '2020/12/24'    105       132  246.000000      M
27        60  '2020/12/25'    102       126  334.500000      M
28        60      20201226    100       120  250.000000      M
29        60  '2020/12/27'     92       118  241.000000      F
30        60  '2020/12/28'    103       132  301.129412      F
31        60  '2020/12/29'    100       132  280.000000      M
32        60  '2020/12/30'    102       129  380.300000      F
33        60  '2020/12/31'     92       115  243.000000      F
34        60  '2020/12/30'    102       129  380.300000      F
35        60  '2020/12/27'     92       118  241.000000      F

In [60]:
print(df.duplicated().sum())

5

In [61]:
df.drop_duplicates(inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse    Calories Gender
0         60  '2020/12/01'    110       130  409.100000      M
1         60  '2020/12/02'    117       145  479.000000      F
2         60  '2020/12/03'    103       135  340.000000      F
3         45  '2020/12/04'    109       175  282.400000      F
4         45  '2020/12/05'    117       148  406.000000      F
5         60  '2020/12/06'    102       127  300.000000      M
7        450  '2020/12/08'    104       134  253.300000      M
8         30  '2020/12/09'    109       133  195.100000      F
10        60  '2020/12/10'     98       124  269.000000      F
11        60  '2020/12/11'    103       147  329.300000      F
12        60  '2020/12/12'    100       120  250.700000      M
13        60  '2020/12/12'    100       120  250.700000      F
14        60  '2020/12/13'    106       128  345.300000      M
16        60  '2020/12/14'    104       132  379.300000      F
17        60  '2020/12/15'     98       123  275.000000      F
18        60  '2020/12/16'     98       120  215.200000      M
19        60  '2020/12/17'    100       120  300.000000      M
20        45  '2020/12/18'     90       112  301.129412      F
21        60  '2020/12/19'    103       123  323.000000      F
22        45  '2020/12/20'     97       125  243.000000      F
23        60  '2020/12/21'    108       131  364.200000      F
25        60  '2020/12/23'    130       101  300.000000      F
26        45  '2020/12/24'    105       132  246.000000      M
27        60  '2020/12/25'    102       126  334.500000      M
28        60      20201226    100       120  250.000000      M
29        60  '2020/12/27'     92       118  241.000000      F
30        60  '2020/12/28'    103       132  301.129412      F
31        60  '2020/12/29'    100       132  280.000000      M
32        60  '2020/12/30'    102       129  380.300000      F
33        60  '2020/12/31'     92       115  243.000000      F

In [62]:
print(df.shape)

(30, 6)

In [63]:
df.drop(28,axis=0,inplace=True)

In [64]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 33
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
 5   Gender    29 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.6+ KB
None

In [65]:
#parse_date
#Dealing with wrong format of data
df['Date']=pd.to_datetime(df['Date'])
print(df)

    Duration       Date  Pulse  Maxpulse    Calories Gender
0         60 2020-12-01    110       130  409.100000      M
1         60 2020-12-02    117       145  479.000000      F
2         60 2020-12-03    103       135  340.000000      F
3         45 2020-12-04    109       175  282.400000      F
4         45 2020-12-05    117       148  406.000000      F
5         60 2020-12-06    102       127  300.000000      M
7        450 2020-12-08    104       134  253.300000      M
8         30 2020-12-09    109       133  195.100000      F
10        60 2020-12-10     98       124  269.000000      F
11        60 2020-12-11    103       147  329.300000      F
12        60 2020-12-12    100       120  250.700000      M
13        60 2020-12-12    100       120  250.700000      F
14        60 2020-12-13    106       128  345.300000      M
16        60 2020-12-14    104       132  379.300000      F
17        60 2020-12-15     98       123  275.000000      F
18        60 2020-12-16     98       120  215.200000      M
19        60 2020-12-17    100       120  300.000000      M
20        45 2020-12-18     90       112  301.129412      F
21        60 2020-12-19    103       123  323.000000      F
22        45 2020-12-20     97       125  243.000000      F
23        60 2020-12-21    108       131  364.200000      F
25        60 2020-12-23    130       101  300.000000      F
26        45 2020-12-24    105       132  246.000000      M
27        60 2020-12-25    102       126  334.500000      M
29        60 2020-12-27     92       118  241.000000      F
30        60 2020-12-28    103       132  301.129412      F
31        60 2020-12-29    100       132  280.000000      M
32        60 2020-12-30    102       129  380.300000      F
33        60 2020-12-31     92       115  243.000000      F

In [66]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 33
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     datetime64[ns]
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
 5   Gender    29 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 1.6+ KB
None

In [67]:
#Wrong Data
print(df.describe())

         Duration                           Date       Pulse    Maxpulse  \
count   29.000000                             29   29.000000   29.000000
mean    69.827586  2020-12-15 14:53:47.586206976  103.517241  128.862069
min     30.000000            2020-12-01 00:00:00   90.000000  101.000000
25%     60.000000            2020-12-09 00:00:00  100.000000  120.000000
50%     60.000000            2020-12-15 00:00:00  103.000000  128.000000
75%     60.000000            2020-12-23 00:00:00  106.000000  132.000000
max    450.000000            2020-12-31 00:00:00  130.000000  175.000000
std     73.514852                            NaN    8.095946   13.383690

         Calories
count   29.000000
mean   304.712373
min    195.100000
25%    250.700000
50%    300.000000
75%    340.000000
max    479.000000
std     64.932411

In [68]:
print(df)

    Duration       Date  Pulse  Maxpulse    Calories Gender
0         60 2020-12-01    110       130  409.100000      M
1         60 2020-12-02    117       145  479.000000      F
2         60 2020-12-03    103       135  340.000000      F
3         45 2020-12-04    109       175  282.400000      F
4         45 2020-12-05    117       148  406.000000      F
5         60 2020-12-06    102       127  300.000000      M
7        450 2020-12-08    104       134  253.300000      M
8         30 2020-12-09    109       133  195.100000      F
10        60 2020-12-10     98       124  269.000000      F
11        60 2020-12-11    103       147  329.300000      F
12        60 2020-12-12    100       120  250.700000      M
13        60 2020-12-12    100       120  250.700000      F
14        60 2020-12-13    106       128  345.300000      M
16        60 2020-12-14    104       132  379.300000      F
17        60 2020-12-15     98       123  275.000000      F
18        60 2020-12-16     98       120  215.200000      M
19        60 2020-12-17    100       120  300.000000      M
20        45 2020-12-18     90       112  301.129412      F
21        60 2020-12-19    103       123  323.000000      F
22        45 2020-12-20     97       125  243.000000      F
23        60 2020-12-21    108       131  364.200000      F
25        60 2020-12-23    130       101  300.000000      F
26        45 2020-12-24    105       132  246.000000      M
27        60 2020-12-25    102       126  334.500000      M
29        60 2020-12-27     92       118  241.000000      F
30        60 2020-12-28    103       132  301.129412      F
31        60 2020-12-29    100       132  280.000000      M
32        60 2020-12-30    102       129  380.300000      F
33        60 2020-12-31     92       115  243.000000      F

In [69]:
df.to_csv("CleanedData.csv")