In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading the data
data=pd.read_csv('E:\\Resolve6_Training\\DS_ML\\Sample Data Sets\\data_cleaned.csv')
data.head(5)

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
#shape of the data
print(data.shape)

(891, 25)

In [4]:
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
#checking missing values in the data
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [7]:
#seperating independent and dependent variables
y = data['Survived']
X = data.drop(['Survived'], axis=1)

In [8]:
#importing train_test_split to create validation set
from sklearn.model_selection import train_test_split

In [10]:
#creating the train and validation set
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state = 101, stratify=y, test_size=0.25)

In [11]:
# distribution in training set
y_train.value_counts(normalize=True)

Survived
0    0.616766
1    0.383234
Name: proportion, dtype: float64

In [12]:
# distribution in validation set
y_valid.value_counts(normalize=True)

Survived
0    0.61435
1    0.38565
Name: proportion, dtype: float64

In [ ]:
#shape of training set
X_train.shape, y_train.shape

In [ ]:
#shape of validation set
X_valid.shape, y_valid.shape

In [13]:
#importing decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

In [14]:
# how to import decision tree regressor
from sklearn.tree import DecisionTreeRegressor

In [15]:
#creating the decision tree function
dt_model = DecisionTreeClassifier(random_state=10)

In [17]:
#fitting the model
dt_model.fit(X_train, y_train)
print(dt_model)

DecisionTreeClassifier(random_state=10)

In [18]:
#checking the training score
dt_model.score(X_train, y_train)

0.9880239520958084

In [19]:
#checking the validation score
dt_model.score(X_valid, y_valid)

0.7533632286995515

In [20]:
#predictions on validation set
y_pred=dt_model.predict(X_valid)
print(y_pred)

[1 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0
 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 1 1 1
 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1 0 0 0
 0 1 0 1 1 0 1 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1
 0 0 1 1 0 0 0 0 1 0 1 1 0 1 1 1 0 0 0 0 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 1 0
 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 1 1 1 0 0 1 1 0 1 1
 0]

In [21]:
from sklearn.metrics import confusion_matrix
cf=confusion_matrix(y_pred,y_valid)
print(cf)

[[114  32]
 [ 23  54]]

In [ ]:
dt_model.predict_proba(X_valid)

In [ ]:
y_pred = dt_model.predict_proba(X_valid)[:,1]
print(y_pred)

In [ ]:
y_new = []
sur=0
Not_sur=0
for i in range(len(y_pred)):
    if y_pred[i]<=0.7:
        y_new.append(0)
        Not_sur+=1
    else:
        y_new.append(1)
        sur+=1

print(f"Survived:{sur},Not Survived:{Not_sur}")

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_valid, y_new)

In [ ]:
cf=confusion_matrix(y_new,y_valid)
print(cf)

## Changing the max_depth (Pruning-avoiding overfitting)

In [22]:
train_accuracy = []
validation_accuracy = []
for depth in range(1,10):#1...9
    dt_model = DecisionTreeClassifier(max_depth=depth, random_state=10)
    dt_model.fit(X_train, y_train)
    train_accuracy.append(dt_model.score(X_train, y_train))
    validation_accuracy.append(dt_model.score(X_valid, y_valid))
print(train_accuracy)
print(validation_accuracy)

[0.8038922155688623, 0.8038922155688623, 0.8308383233532934, 0.8473053892215568, 0.8473053892215568, 0.8637724550898204, 0.8892215568862275, 0.9116766467065869, 0.9311377245508982]
[0.7354260089686099, 0.7354260089686099, 0.7668161434977578, 0.7713004484304933, 0.7713004484304933, 0.7757847533632287, 0.7802690582959642, 0.7847533632286996, 0.7757847533632287]

In [23]:
frame = pd.DataFrame({'max_depth':range(1,10), 'train_acc':train_accuracy, 'valid_acc':validation_accuracy})
frame.head(10)

   max_depth  train_acc  valid_acc
0          1   0.803892   0.735426
1          2   0.803892   0.735426
2          3   0.830838   0.766816
3          4   0.847305   0.771300
4          5   0.847305   0.771300
5          6   0.863772   0.775785
6          7   0.889222   0.780269
7          8   0.911677   0.784753
8          9   0.931138   0.775785

In [ ]:
plt.figure(figsize=(12,6))
plt.plot(frame['max_depth'], frame['train_acc'], marker='o')
plt.plot(frame['max_depth'], frame['valid_acc'], marker='o')
plt.xlabel('Depth of tree')
plt.ylabel('performance')
plt.legend()

* max_leaf_nodes
* min_samples_split
* min_samples_leaf

In [24]:
dt_model = DecisionTreeClassifier(max_depth=4, max_leaf_nodes=25, random_state=10)

In [25]:
##### fitting the model
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4, max_leaf_nodes=25, random_state=10)

In [26]:
#Training score
dt_model.score(X_train, y_train)

0.8473053892215568

In [27]:
#Validation score
dt_model.score(X_valid, y_valid)

0.7713004484304933

In [28]:
from sklearn import tree

In [ ]:
!pip install graphviz

In [ ]:
decision_tree = tree.export_graphviz(dt_model,out_file='tree.png',feature_names=X_train.columns,max_depth=2,filled=True)

In [ ]:
!dot -Tpng tree.dot -o tree.png

In [ ]:
image = plt.imread('tree.png')
plt.figure(figsize=(15,15))
plt.imshow(image)