In [1]:
#Python Functions(write once use many)
#Function deFinition
def greet():
    print("Hey Good morning")

In [3]:
#Calling/ invoking
greet()
greet()

Hey Good morning
Hey Good morning

In [6]:
#Function with argument
def add(var1,var2):
    result=var1+var2
    print(result)

add(34)

TypeError: add() missing 1 required positional argument: 'var2'

In [8]:
#Function with return
def func1(var1,var2):
    result=var1+var2
    return result

#print(func1(30,40))
output=func1(45,76)
print(output)

121

In [9]:
lst=[45,32,15,16,89,90,40,75]
def even(lst):
    even_lst=[]
    for x in lst:
        if x%2==0:
            even_lst.append(x)
    return even_lst

print(even(lst))

[32, 16, 90, 40]

In [10]:
lst=[45,32,15,16,89,90,40,75]
def even_odd(lst):
    even_lst=[]
    odd_lst=[]
    for x in lst:
        if x%2==0:
            even_lst.append(x)
        else:
            odd_lst.append(x)
    print(f"Even elements:{even_lst},Odd elements:{odd_lst}")
print(even_odd(lst))

Even elements:[32, 16, 90, 40],Odd elements:[45, 15, 89, 75]
None

In [15]:
#Python input
#age=input("Enter your age:") #default input is str
age=int(input("Enter your age:"))
print(age)
print(type(age))

Enter your age: 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [18]:
age=eval(input("Enter your age:"))
print(age)
print(type(age))

Enter your age: abc

NameError: name 'abc' is not defined

In [22]:
#String Interpolations(embadding)
name=input("Enter your name:")
age=eval(input("Enter your age:"))
#Hi,<name> your age is <age>
print(f"Hi, {name}Your age is {age}")  #fstring

Enter your name: amit
Enter your age: 45

Hi, {name}Your age is {age}

In [25]:
#Format Functions
name=input("Enter your name:")
age=eval(input("Enter your age:"))
#Hi,<name> your age is <age>
print("Hi, {} Your age is {}".format(name,age)) 
print("Hi, {} Your age is {}".format(age,name))
print("Hi, {1} Your age is {0}".format(age,name)) #passing indexing

Enter your name: amit
Enter your age: 34

Hi, amit Your age is 34
Hi, 34 Your age is amit
Hi, amit Your age is 34

In [28]:
name="amit"
print("Hi, %s"%name)
roi=12.4567893
print("ROI:%.2f"%roi)

Hi, amit
ROI:12.46

In [ ]:
#Types of Arguments
#1.Positional Required args
#2.Keyword args
#3.Default args
#4.Arbitary Args
#5.Key-Arbitary Args

In [31]:
#Required-Positional Args
uname=input("Enter your name:")
uage=int(input("Enter your age:"))
def func(name,age):
    print("Name:",name)
    print("Age:",age)

func(uname,uage)
func(uage,uname)

Enter your name: Amit
Enter your age: 45

Name: Amit
Age: 45
Name: 45
Age: Amit

In [33]:
#Keyword arguments
uname=input("Enter your name:")
uage=int(input("Enter your age:"))
def func(name,age):
    print("Name:",name)
    print("Age:",age)

#func(name=uname,age=uage)
func(age=uage,name=uname)

Enter your name: Amit
Enter your age: 45

Name: Amit
Age: 45

In [35]:
#Arbitary AArgs
def greet(*names):
    for name in names:
        print('Hi,',name)

greet("Amit","Garima","Aadhya","Rahul")

Hi, Amit
Hi, Garima
Hi, Aadhya
Hi, Rahul

In [36]:
#Alternate for Arbitary
def greet(names):
    for name in names:
        print('Hi,',name)

greet(["Amit","Garima","Aadhya","Rahul"])

Hi, Amit
Hi, Garima
Hi, Aadhya
Hi, Rahul

In [39]:
#Default Arguments
def greet(name,age=35):
    print("Name:",name)
    print("Age:",age)

#greet("Amit",55)
greet("Amit")

Name: Amit
Age: 35

In [41]:
#Python Lambda functions-Less Code More work-Shorthand Functions
#No name function
#single line body-Single expression
#default return
def add(var1,var2):
    result=var1+var2
    return result
    
#lambda arguments:Expression
x=lambda var1,var2:var1+var2  
print(x(45,67))  #Method 1
x=(lambda var1,var2:var1+var2)(67,90) #Method 2
print(x)

112
157

In [46]:
#Advanced Functions: Map(),filter(),Reduce()
#map()
#(lambda,iteratable objecct)
lst=[10,20,30,40,50]
new_lst=map(lambda x:x*3,lst)
print(new_lst)
print(list(new_lst))

<map object at 0x000001FD245B9420>
[30, 60, 90, 120, 150]

In [ ]:
#******normal Function*********
lst=[45,32,15,16,89,90,40,75]
def even_odd(lst):
    even_lst=[]
    odd_lst=[]
    for x in lst:
        if x%2==0:
            even_lst.append(x)
        else:
            odd_lst.append(x)
    print(f"Even elements:{even_lst},Odd elements:{odd_lst}")
print(even_odd(lst))
#*****************************

In [48]:
#Filter()
lst=[45,32,15,16,89,90,40,75]
even_lst=list(filter(lambda x:x%2==0,lst))
odd_lst=list(filter(lambda x:x%2!=0,lst))
print(f"Even elements: {even_lst},Odd elements: {odd_lst}")

Even elements: [32, 16, 90, 40],Odd elements: [45, 15, 89, 75]

In [52]:
#Reduce()
from functools import reduce
sales=[123,234,345,456,567]
total_sales=reduce(lambda x,y:x+y,sales)
print("Total sales:",total_sales)

Total sales: 1725